body{
    background-color: #f4f4f4;
    border: 0;
}

#content-page{
    width: 100%;
    height: auto !important;
}

.head-page{
    height: 150px;
    background: #8cbae4;
}

.logo-page{
    
    padding: 5px;
}

.logo-page img{
    width: auto;
    display: block;
    margin-left: 10%;
}

.title-from{
    text-align: center;
    background-color: rgb(142, 142, 142) !important;
    padding: 12px;
}

.title-from h1{
    font-size: 2.85714rem!important;
    font-weight: 600!important;
    color: #fff!important;
    padding: 20px;
    line-height: 1;
}
    .formulario-page h2{
    text-align: center;
    font-size: 2.85714rem!important;
    color: #000000 !important;
    font-weight: normal !important;
    padding: 40px;
    line-height: 1;
}

.formulario-page{
    width: 100%;
    margin: auto;
}
.main-form{
    width: 90%;
    margin: 0 auto;
    padding: 60px;
}
.form-{
    display: grid;
}

  

.footer-page{
    height: 250px;
    background-image: -webkit-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: -moz-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: -o-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: radial-gradient(circle farthest-side at 50% 50%,#2294d7,#275296);
    background-repeat: no-repeat;
    color: #fff;
    padding: 60px 10px;
    overflow: hidden;    
}
.footer-top{
   /* flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    width: 1100px;
    margin:auto;*/

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-down{
    border-top: 1px solid #d5d4d4;
    text-align: right;
}

.content-f-left{
    /*flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 50%;*/
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}


.content-f-rigth{
  /*  flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 50%;*/

    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
span{
    padding: 5px;
}