body{
    background-color: #f4f4f4;
    border: 0;
}

#content-page{
    width: 100%;
    height: auto !important;
}

.head-page{
    height: 120px;
    background: #8cbae4;
}

.logo-page{
    max-width: 1100px;
    margin: auto;
    padding: 5px;
}

.logo-page img{
    width: auto;
    display: block;
    margin-left: 10%;
}

.slider-wow{  
    background-color: rgb(142, 142, 142) !important; 
}

/*.title-from h1{
    font-size: 2.85714rem!important;
    font-weight: 600!important;
    color: #fff!important;
    padding: 20px;
    line-height: 1;
}*/
    .formulario-page h2{
    text-align: center;
    font-size: 2.85714rem!important;
    color: #000000 !important;
    font-weight: normal !important;
    padding: 40px;
    line-height: 1;
}

.formulario-page{
    width: 100%;
    margin: auto;
}
.main-form{
    width: 90%;
    margin: 0 auto;
    padding: 60px;
}
.form-{
    display: grid;
}

  

.footer-page{
    height: 250px;
    background-image: -webkit-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: -moz-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: -o-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: radial-gradient(circle farthest-side at 50% 50%,#2294d7,#275296);
    background-repeat: no-repeat;
    color: #fff;
    padding: 60px 10px;
    overflow: hidden;    
}
.footer-top{  
    width: 1100px;
    margin:auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-down{
    border-top: 1px solid #d5d4d4;
    text-align: right;
    padding: 30px 0;
}

.content-f-left{
    
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}


.content-f-rigth{
     -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right;
}
span{
    padding: 5px;
   
}
.content-f-rigth a{
    text-decoration: none;
    color: #fff;
}
.content-f-rigth a:hover{
    color: #b1b1b1;
}
.content-f-left a{
    text-decoration: none;
    color: #fff;
}
.content-f-left a:hover{
    color: #b1b1b1;
}

/*Ventana Flotante*/
.modal{
	width: 100%;
	height: 100vh;
	position: absolute;
	background:rgb(0 0 0 / 70%);
	top: 0;
	left: 0;
	display: flex;
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
    z-index: 999;
}

.content-modal{
	width: 60%;	
	margin: auto;
	border-radius: 5px;
	padding: 50px;
}
.content-modal img{
	display: block;
    margin: auto;
    width: 100%;
}
/*.img-modal{
	width: 90%;
	height: 90%;
	background-image: url(22.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	display: block;
	margin: auto;
}*/
#cerrar{
	display: none;
	text-align: center;
}

#cerrar + label {
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
	text-align: center;
}
#btn-cerrar{
	color: #000;
    font-size: 20px;
    z-index: 50;
    background: #8cbae4;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;
    float: right;
    text-align: center;
    margin-right: -35px;
    font-weight: 600;
}
#btn-cerrar:hover{
	color: #8cbae4;
	background: rgb(142, 142, 142) !important;
	 font-size: 20px;
    z-index: 50;
    background: #8cbae4;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;
    float: right;
    text-align: center;
    margin-right: -35px;
    font-weight: 600;
}
#cerrar:checked + label, #cerrar:checked ~ .modal{
	display: none;

}

@keyframes modal {
	100%{
		visibility: visible;
	opacity: 1;
	}
}

