body{
    background-color: #f4f4f4;
    border: 0;
}

#content-page{
    width: 100%;
    height: auto !important;
}

.head-page{
    height: 150px;
    background: #8cbae4;
}

.logo-page{
    
    padding: 5px;
}

.logo-page img{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-from{
    text-align: center;
    background-color: rgb(142, 142, 142) !important;
    padding: 12px;
}

.title-from h1{
    font-size: 2.85714rem!important;
    font-weight: 600!important;
    color: #fff!important;
    padding: 20px;
    line-height: 1;
}
.formulario-page h2{
    font-size: 2.85714rem!important;
    color: #000000 !important;
    font-weight: normal !important;
    padding: 20px;
    line-height: 1;
}

.formulario-page{
    width: 100%;
    margin: auto;
}
/*.form{
    place-content: center space-around;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    color: #555;
}*/

.form- {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form- input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  .form- button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }
  

.footer-page{
    height: 250px;
    background-image: -webkit-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: -moz-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: -o-radial-gradient(50% 50%,circle farthest-side,#2294d7,#275296);
    background-image: radial-gradient(circle farthest-side at 50% 50%,#2294d7,#275296);
    background-repeat: no-repeat;
    color: #fff;
    padding: 60px 10px;
    overflow: hidden;    
}